@import "./partials/reset.scss";
@import "./partials/colori.scss";
@import "./partials/font.scss";
@import "./partials/spaziature.scss";
@import "./partials/bottoni.scss";
@import "./partials/mixins-generici.scss";
@import "./partials/animazioni.scss";
/* -------------------------------------- */

body {
  font-family: $main-font-family;
}

.headline {
  @include center-element;
}

.hero {
  @include center-element;
  padding: $spacing-md;

  img {
    max-width: 300px;
    margin-right: $spacing-lg;
  }

  .hero-text {
    h2 {
      font-size: $font-size-lg;
    }
    p {
      font-size: $font-size-md;
    }
  }
}
